body {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(1, 1, 24);
    height: 70px;
    padding: 0px 180px;
}

.header img {
    height: 50px;
    width: 70px;
    margin: 10px 15px;
}

ul {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: 25px;
    list-style: none;
    
}

a {
    text-decoration: none;
    color: rgb(195, 204, 211);
    margin: 15px;
}

.section-1 {
    display: flex;
    flex-direction: row;
    background-color: rgb(1, 1, 24);
    color: #fff;
    height: 40vh;
    padding: 10vh 15vw;
    align-content: center;
}

.section-1 img {
    width: 500px;
    height: 250px;
    margin-left: 10vw;
}

h1 {
    font-size: 48px;
    flex: 1 2 auto;
}

.section-1 div p {
    font-size: 18px;
    flex: 1 2 auto;
}

button {
    border: 2px solid rgb(8, 159, 219);
    background-color: rgb(8, 159, 219);
    padding: 5px;
    border-radius: 5px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    height: 350px;
    padding: 50px 250px;
}

h2 {
    margin: auto;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: 700;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
}

.icon {
    width: 150px;
    height: 150px;
}

.section-2 div div img {
    border: 2px solid rgb(8, 159, 219);
    border-radius: 10px;
}

.section-2 div div p {
    text-align: center;
}

.section-3 {
    background-color: rgb(207, 204, 204);
    height: 200px;
    padding: 50px 300px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 24px;
    font-style: italic;
}

.author {
    font-weight: bold;
    font-size: 16px;
    align-self: flex-end;
}

.section-4 {
    height: 300px;
    padding: 100px 250px;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(8, 159, 219);
    border-radius: 10px;
    background-color: rgb(8, 159, 219);
    color: #fff;
    height: 80px;
    padding: 10px;
}

.box div {
    margin-left: auto;
}

.action {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 0%;
}

.box button {
    border: 2px solid #fff;
    padding: 5px;
    height: 30px;
    color: #fff;
    margin: 30px auto;
}

.footer {
    background-color: rgb(1, 1, 24);
    color: rgb(204, 200, 200);
    height: 60px;
}

.text {
    text-align: center;
    padding-top: 20px;
}